name: CD - Deploy to Swarm VM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      #  Authenticate to GCP
      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      #  Install gcloud
      - name: Setup gcloud SDK
        uses: google-github-actions/setup-gcloud@v2

      #  Configure Docker to use gcloud credential helper
      - name: Configure Docker for Artifact Registry
        run: |
          gcloud auth configure-docker asia-southeast1-docker.pkg.dev --quiet

      #  Debug identity (optional but recommended)
      - name: Debug identity
        run: |
          gcloud auth list
          gcloud config list

      #  Build and push image
      - name: Build Docker image
        run: |
          docker build \
            -t asia-southeast1-docker.pkg.dev/voltarocks-42-sandbox/cloud-engineer-repo/cloud-engineer:${{ github.sha }} \
            .

      #  Push image
      - name: Push Docker image
        run: |
          docker push \
            asia-southeast1-docker.pkg.dev/voltarocks-42-sandbox/cloud-engineer-repo/cloud-engineer:${{ github.sha }}

 
      - name: Get MIG instance dynamically
        run: |
          echo "Finding Managed Instance Group..."

          MIG_NAME=$(gcloud compute instance-groups managed list \
            --zones asia-southeast1-a \
            --filter="baseInstanceName=cloud-engineer" \
            --format="value(name)")

          if [ -z "$MIG_NAME" ]; then
            echo "No MIG found!"
            exit 1
          fi

          echo "Found MIG: $MIG_NAME"
          echo "MIG_NAME=$MIG_NAME" >> $GITHUB_ENV

          INSTANCE=$(gcloud compute instance-groups managed list-instances $MIG_NAME \
            --zone asia-southeast1-a \
            --format="value(instance)" | head -n 1)

          if [ -z "$INSTANCE" ]; then
            echo "No instance found inside MIG!"
            exit 1
          fi

          echo "Using instance: $INSTANCE"
          echo "INSTANCE_NAME=$INSTANCE" >> $GITHUB_ENV

      # Wait until VM status = RUNNING
      - name: Wait for VM to be RUNNING
        run: |
          echo "Waiting for VM to be RUNNING..."
          until gcloud compute instances describe ${{ env.INSTANCE_NAME }} \
            --zone=asia-southeast1-a \
            --project=voltarocks-42-sandbox \
            --format="get(status)" | grep -q RUNNING; do
              echo "VM not ready yet..."
              sleep 5
            done
          echo "VM is RUNNING."

      # Wait until SSH port is open
      - name: Wait for SSH to be ready
        run: |
          echo "Waiting for SSH (port 22) via IAP..."
          until gcloud compute ssh ${{ env.INSTANCE_NAME }} \
            --zone=asia-southeast1-a \
            --project=voltarocks-42-sandbox \
            --tunnel-through-iap \
            --command="echo 'SSH ready'" &>/dev/null; do
              echo "SSH not ready yet..."
              sleep 5
            done
          echo "SSH is ready."

      # Deploy
      - name: Deploy Cloud Engineer Service
        run: |
          gcloud compute ssh ${{ env.INSTANCE_NAME }} \
            --zone=asia-southeast1-a \
            --project=voltarocks-42-sandbox \
            --tunnel-through-iap \
            --command="
              set -e;

              sudo docker pull asia-southeast1-docker.pkg.dev/voltarocks-42-sandbox/cloud-engineer-repo/cloud-engineer:${{ github.sha }};

              if sudo docker service ls | grep -q cloud-engineer; then
                sudo docker service update \
                  --image asia-southeast1-docker.pkg.dev/voltarocks-42-sandbox/cloud-engineer-repo/cloud-engineer:${{ github.sha }} \
                  --env-add DB_HOST=core_stack_postgres \
                  --env-add DB_PORT=5432 \
                  --env-add DB_USER=admin \
                  --env-add DB_PASSWORD='${{ secrets.DB_PASSWORD }}' \
                  --env-add DB_NAME=appdb \
                  --with-registry-auth \
                  --force \
                  cloud-engineer;
              else
                sudo docker service create \
                  --name cloud-engineer \
                  --replicas 1 \
                  --publish 80:3000 \
                  --network app_network \
                  --env DB_HOST=core_stack_postgres \
                  --env DB_PORT=5432 \
                  --env DB_USER=admin \
                  --env DB_PASSWORD='${{ secrets.DB_PASSWORD }}' \
                  --env DB_NAME=appdb \
                  --restart-condition any \
                  --with-registry-auth \
                  asia-southeast1-docker.pkg.dev/voltarocks-42-sandbox/cloud-engineer-repo/cloud-engineer:${{ github.sha }};
              fi
            "
      # grafana 
      - name: Update Grafana SMTP Config
        run: |
          gcloud compute ssh ${{ env.INSTANCE_NAME }} \
            --zone=asia-southeast1-a \
            --project=voltarocks-42-sandbox \
            --tunnel-through-iap \
            --command="
              if sudo docker service ls | grep -q core_stack_grafana; then
                sudo docker service update \
                  --env-add GF_SMTP_ENABLED=true \
                  --env-add GF_SMTP_HOST=smtp.gmail.com:587 \
                  --env-add GF_SMTP_USER='${{ secrets.GRAFANA_SMTP_USER }}' \
                  --env-add GF_SMTP_PASSWORD='${{ secrets.GRAFANA_SMTP_PASSWORD }}' \
                  --env-add GF_SMTP_FROM_ADDRESS='${{ secrets.GRAFANA_SMTP_USER }}' \
                  --force \
                  core_stack_grafana;
              else
                echo 'Grafana service not found. Skipping.';
              fi
            "