name: CD - Deploy to Swarm VM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      #  Authenticate to GCP
      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      #  Install gcloud
      - name: Setup gcloud SDK
        uses: google-github-actions/setup-gcloud@v2

      #  Configure Docker to use gcloud credential helper
      - name: Configure Docker for Artifact Registry
        run: |
          gcloud auth configure-docker asia-southeast1-docker.pkg.dev --quiet

      #  Debug identity (optional but recommended)
      - name: Debug identity
        run: |
          gcloud auth list
          gcloud config list

      #  Build image
      - name: Build Docker image
        run: |
          docker build \
            -t asia-southeast1-docker.pkg.dev/voltarocks-42-sandbox/cloud-engineer-repo/cloud-engineer:${{ github.sha }} \
            .

      #  Push image
      - name: Push Docker image
        run: |
          docker push \
            asia-southeast1-docker.pkg.dev/voltarocks-42-sandbox/cloud-engineer-repo/cloud-engineer:${{ github.sha }}

      #  Deploy to VM via IAP
      # - name: Deploy to Swarm VM via IAP
      #   run: |
      #     gcloud compute ssh cloud-engineer-vm \
      #       --zone=asia-southeast1-a \
      #       --project=voltarocks-42-sandbox \
      #       --tunnel-through-iap \
      #       --command="
      #         sudo docker pull asia-southeast1-docker.pkg.dev/voltarocks-42-sandbox/cloud-engineer-repo/cloud-engineer:${{ github.sha }} &&
      #         if sudo docker service ls | grep -q cloud-engineer; then
      #           sudo docker service update \
      #             --image asia-southeast1-docker.pkg.dev/voltarocks-42-sandbox/cloud-engineer-repo/cloud-engineer:${{ github.sha }} \
      #             --force \
      #             cloud-engineer;
      #         else
      #           sudo docker service create \
      #             --name cloud-engineer \
      #             --publish 80:3000 \
      #             asia-southeast1-docker.pkg.dev/voltarocks-42-sandbox/cloud-engineer-repo/cloud-engineer:${{ github.sha }};
      #         fi
      #       "
      
      # Deploy to Cloud Run
      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy cloud-engineer \
            --image asia-southeast1-docker.pkg.dev/voltarocks-42-sandbox/cloud-engineer-repo/cloud-engineer:${{ github.sha }} \
            --region asia-southeast1 \
            --platform managed \
            --allow-unauthenticated